$color-palette: (
    "light-mode-background": hsl(0, 0%, 98%),
    "dark-mode-background": hsl(207, 26%, 17%),
    "light-mode-elements": hsl(0, 0%, 100%),
    "dark-mode-elements": hsl(209, 23%, 22%),
    "light-mode-text": hsl(200, 15%, 8%),
    "dark-mode-text": hsl(0, 0%, 100%),
    "light-mode-input": hsl(0, 0%, 52%),
);