.main-countries-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    // column-gap: calc(20%/3);
    justify-content: space-around;
    align-items: center;

    .country {
        align-self: stretch;
        flex-basis: calc(21%);
        flex-shrink: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;

        .figure {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
        .caption {
            padding: 25px 20px;
        }
    }
}

