@import './variables';
@import './mixin';

.country-page {
    min-height: 100vh;
    padding: 10px 100px;
    font-size: 16px;

    &.dark {
        color: map-get($map: $color-palette, $key: "dark-mode-text");
        background-color: map-get($map: $color-palette, $key: "dark-mode-background");
    }
    &.light{
        color: map-get($map: $color-palette, $key: "light-mode-text");
        background-color: map-get($map: $color-palette, $key: "light-mode-background");
    }

    @include respond("average") {
        padding: 10px 40px;
    }
    @include respond("tablet") {
        padding: 10px 20px;
    }
    @include respond("mobile") {
        padding: 10px 10px;
    }
    

    .back-button {
        border: none;
        padding: 10px 30px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;                


        &.dark {
            background-color: map-get($map: $color-palette, $key: "dark-mode-elements");
            color: map-get($map: $color-palette, $key: "dark-mode-text");
        }
        &.light {
            background-color: map-get($map: $color-palette, $key: "light-mode-elements");
            color: map-get($map: $color-palette, $key: "light-mode-text");
        }
    }

    .country-info {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;

        @include respond("desktop") {
            flex-direction: column;
        }

        
        .flag {
            flex-basis: 40%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .caption {
        padding: 40px;
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    
        .properties {
            display: flex;
            justify-content: space-between;
            @include respond("tablet") {
                flex-direction: column;
            }

            :is(.first-column, .second-column) p {
                margin: 10px 0;
            } 
        }
    
        
        .border-countries {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-shrink: 0;
            gap: 10px;
            .border {
                border: none;
                padding: 10px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;                
                cursor: pointer;

                &.dark {
                    background-color: map-get($map: $color-palette, $key: "dark-mode-elements");
                    color: map-get($map: $color-palette, $key: "dark-mode-text");
                }
                &.light {
                    background-color: map-get($map: $color-palette, $key: "light-mode-elements");
                    color: map-get($map: $color-palette, $key: "light-mode-text");
                }
            }
        }
    }
}
