@import './variables';
@import './mixin';


.filter-box {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @include respond("tablet") {
        flex-direction: column;
        align-items: flex-start;
    }
}

input {
    appearance: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    position: relative;

    @include respond("tablet") {
        width: 100%;
    }

    &.light {
        background-color: map-get($map: $color-palette, $key: "light-mode-elements");
        color: map-get($map: $color-palette, $key: "light-mode-text");
    }
    &.dark {
        background-color: map-get($map: $color-palette, $key: "dark-mode-elements");
        color: map-get($map: $color-palette, $key: "dark-mode-text");
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
    color: map-get($map: $color-palette, $key: "input");
}

select {
    appearance: none;
    border: none;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2px;

    &.light {
        background-color: map-get($map: $color-palette, $key: "light-mode-elements");
        color: map-get($map: $color-palette, $key: "light-mode-text");
    }
    &.dark {
        background-color: map-get($map: $color-palette, $key: "dark-mode-elements");
        color: map-get($map: $color-palette, $key: "dark-mode-text");
    }
}

option {
    background-color: rgb(216, 216, 216);
    color: black;
}