@import './variables';
@import './mixin';

.main-page {
    padding: 10px 50px;
    &.dark {
        color: map-get($map: $color-palette, $key: "dark-mode-text");
        background-color: map-get($map: $color-palette, $key: "dark-mode-background");
    }
    &.light {
        color: map-get($map: $color-palette, $key: "light-mode-text");
        background-color: map-get($map: $color-palette, $key: "light-mode-background");
    }

    @include respond("average") {
        padding: 10px 40px;
    }
    @include respond("tablet") {
        padding: 10px 20px;
    }
    @include respond("mobile") {
        padding: 10px 10px;
    }
}

.main-countries-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    // column-gap: calc(20%/3);
    justify-content: space-between;
    align-items: center;

    .country {
        align-self: stretch;
        flex-basis: calc(21%);
        flex-shrink: 0;
        border-radius: 7px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        @include respond("desktop") {
            flex-basis: 30%;
        }
        @include respond("tablet") {
            flex-basis: 45%;
        }
        @include respond("mobile") {
            flex-basis: 100%;
        }

        &.dark {
            background-color: map-get($map: $color-palette, $key: "dark-mode-elements");

        }
        &.light {
            background-color: map-get($map: $color-palette, $key: "light-mode-elements");
        }


        .figure {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 7px 7px 0 0;
        }
        .caption {
            font-size: 14px;
            padding: 10px 20px 25px;

            .title {
                margin: 10px 0;
            }
        }
    }
}

