@import './variables';
@import './mixin';

.navbar {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    .title {
        @include respond("mobile") {
            font-size: 16px;
        }
    }

    .theme {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
            cursor: pointer;
        }
    }

    @include respond("average") {
        padding: 20px 50px;
    }
    @include respond("tablet") {
        padding: 20px 40px;
    }
    @include respond("mobile") {
        padding: 20px 20px;
    }
}

.navbar.dark {
    color: map-get($map: $color-palette, $key: "dark-mode-text");
    background-color: map-get($map: $color-palette, $key: "dark-mode-elements");
}
.navbar.light {
    color: map-get($map: $color-palette, $key: "light-mode-text");
    background-color: map-get($map: $color-palette, $key: "light-mode-elements");
}