@import './variables';
@import './mixin';

.notfound-page {
    height: 100vh;
    color: rgb(255, 66, 66);
    position: relative;

    &.dark {
        background-color: map-get($map: $color-palette, $key: "dark-mode-background");
    }
    &.light{
        background-color: map-get($map: $color-palette, $key: "light-mode-background");
    }

    h2 {
        text-align: center;
        font-size: 50px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}